.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
#saucy-social-shares-ul {
    padding: 0;
    margin: 15px auto;
    list-style: none;
    text-align: center;
}
#saucy-social-shares-ul li {
    display: block;
    float: left;
    padding: 5px;
    margin: 0;
}
#saucy-social-shares-ul.saucyss-btns-2 li {
    width: 33.33%;
}
#saucy-social-shares-ul.saucyss-btns-3 li {
    width: 25%;
}
#saucy-social-shares-ul.saucyss-btns-4 li {
    width: 16.66%;
}
#saucy-social-shares-ul.Dark li {
    background: #444;
    color: #fff;
    border-left: 1px solid #fff;
}
#saucy-social-shares-ul.Light li {
    background: #c7c7c7;
    color: #444;
    border-left: 1px solid #fff;
}
#saucy-social-shares-ul li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: none;
}
#saucy-social-shares-ul.saucyss-btns-3 li:first-child {
    width: 33.33%;
}
#saucy-social-shares-ul.saucyss-btns-3 li:first-child {
    width: 25%;
}
#saucy-social-shares-ul.saucyss-btns-4 li:first-child {
    width: 33.22%;
}
#saucy-social-shares-ul.Dark li:first-child:hover,
#saucy-social-shares-ul.Dark li:first-child:focus {
    background: #444;
    color: #fff;
}
#saucy-social-shares-ul.Light li:first-child:hover,
#saucy-social-shares-ul.Light li:first-child:focus {
    background: #c7c7c7;
    color: #444;
}
#saucy-social-shares-ul.Dark li:hover,
#saucy-social-shares-ul.Dark li:focus {
    background: #c7c7c7;
}
#saucy-social-shares-ul.Light li:hover,
#saucy-social-shares-ul.Light li:focus {
    background: #444;
}
#saucy-social-shares-ul li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#saucy-social-shares-ul li a {
    display: block;
    width: 100%;
    box-shadow: none;
}
#saucy-social-shares-ul.Dark li a {
    color: #fff;
}
#saucy-social-shares-ul.Light li a {
    color: #444;
}
#saucy-social-shares-ul.Light li a:hover,
#saucy-social-shares-ul.Light li a:focus {
    color: #fff;
}